<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ForSDK_TEST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ForkSDKFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ForkSDKFrameworkAggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ForkSDKLibAggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LibForkSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD3AFEBC1BD8D84000099282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD3AFEC01BD8D86F00099282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDBF28D01BD48D91004B2DD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD688E91BD49375009E19BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDFB026F1B54D93C00F72D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
